<!DOCTYPE html>
<html>

<head>

<title>Dashboard</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

<nav class="navbar navbar-dark bg-dark">

<div class="container">

<a class="navbar-brand">

Vet Booking

</a>

<a
href="/logout"
class="btn btn-danger">

Logout

</a>

</div>

</nav>

<div class="container mt-5">

<h2>

Welcome,

{{ fullname }}

</h2>

<hr>

<div class="row">

<div class="col-md-6">

<div class="card">

<div class="card-body">

<h4>Add Pet</h4>

<p>Register your pets.</p>

</div>

</div>

</div>

<div class="col-md-6">

<div class="card">

<div class="card-body">

<h4>Book Appointment</h4>

<p>Schedule a home visit.</p>

</div>

</div>

</div>

</div>

</div>

</body>

</html>